#pullchain {
  background-color: rgb(202, 204, 206);
  height: 35px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 2px;
}

#pullchain-target {
  background-color: transparent;
  border: 2px solid rgb(202, 204, 206);
  border-radius: 50%;
  content: " ";
  cursor: pointer;
  display: inline-block;
  height: 15px;
  left: -8px;
  position: absolute;
  top: 35px;
  width: 15px;
}

@media screen and (max-width: 767px) {
  #pullchain {
    display: none;
  }

  #pullchain-target {
    display: none;
  }
}