@viewport {
	width: 500px;
}

body {
	display: block;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

hr {
	clear: both;
	height: 60px;
	border: none;
	margin: 0 5px;
}

div.content {
	cursor: default;
	max-width: 500px;
	padding-top: 6%;
	margin: 0px auto;
	color: #444;
}

div.introduction {
	max-width: 475px;
	margin: 0px auto;
	font-size: 60px;
}

div.name {
	font-family: 'raleway', sans-serif;
	font-weight: 400;
	font-size: 167px;
	color: #AAA;
}

div.details {
	text-align: center;
	margin: 0px auto;
	font-size: 48px;
}

div.talent {
	vertical-align: bottom;
}

div#flyup {
	position: relative;
	font-family: "Lucida Console", Monaco, monospace;
}

div.linkout {
	max-width: 220px;
	margin: 30px auto;
	text-align: center;
}

div.link-header {
	padding-left: 10px;
	margin-top: 15px;
	font-size: 26px;
	text-align: center;
}

div.linkout div {
	margin-top: 15px;
}

div.tech {
	text-align: center;
	clear: both;
}

div.tech-header {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 26px;
}

div.tech div {
	text-align: center;
	margin-top: 7px;
}

div.tech img {
	margin-left: 5px;
}

/* Multi-purpose classes */

span.capitalize {
	text-transform: uppercase;
}

div.outline {
	padding: 0px 10px;
	border: 1px solid #CCC;
	border-radius: 10px;
}

div.inline {
	display: inline-block;
}

.float {
	float: left;
}

div.margin-left {
	margin-left: 20px;
}

div.top-buffer {
	
}
