@viewport {
  width: 500px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: relative;
}

hr {
  clear: both;
  height: 60px;
  border: none;
  margin: 0 5px;
}

h2 {
  font-size: 30px;
  font-weight: lighter;
}

a, span {
  display: inline-block;
}

img {
  vertical-align: middle;
}

hr.vert {
  display: inline-block;
  width: 10px;
  height: 10px;
}

div.wrapper {
  padding-top: 40px;
}

div.content {
  cursor: default;
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
  color: #444;
}

div.introduction {
  max-width: 475px;
  margin: 0px auto;
  font-size: 60px;
}

div.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 120px;
  color: #aaa;
}

div.socials img {
  width: 30px;
}

div.socials > div:not(:last-of-type) {
  margin-right: 40px;
}

div.details {
  text-align: center;
  margin: 24px auto 0 auto;
  font-size: 42px;
  white-space: nowrap;
}

div.talent {
  vertical-align: bottom;
}

#flyup {
  font-family: 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  min-height: 1em;
  min-width: 2em;
  position: relative;
  text-decoration: none;
}

#flyup::after {
  color: #888;
  content: '_';
  display: inline-block;
  font-family: 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-weight: 300;
  margin-right: 22px;
  opacity: 0.7;
  width: 4px;
}

.app-icon {
  filter: drop-shadow(0 2px 25px rgba(0, 0, 0, 0.2));
}

.link-header {
  margin-top: 15px;
  text-align: center;
}

div.linkout {
  max-width: 330px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: center;
}

div.linkout div {
  margin-top: 15px;
}

div.linkout div.inline:not(:last-child) {
  margin-right: 5px;
}

.blog-link {
  text-decoration: none;
}

.blog-label {
  font-weight: bold;
  margin-bottom: 0;
}

.blog-svg {
  max-height: 58px;
  max-width: 293px;
}

.sootly-logo {
  max-height: 72px;
  max-width: 100%;
}

.book-header {
  margin-top: 15px;
  text-align: center;
}

div.book {
  margin-top: 15px;
}

div.book-links {
  margin: 6px 0;
}

div.book-links a {
  font-size: 16px;
  padding: 0 4px;
  text-decoration: none;
}

span.book-links-separator::before {
  color: #eee;
  content: '|';
}

div.writing-links {
  margin: 6px 0;
}

.writing-header {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

div.writing {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 24px auto 12px auto;
  max-width: 475px;
}

span.writing-name {
  font-size: 1.2em;
  font-weight: bold;
}

span.writing-name a {
  text-decoration: none;
}

span.writing-publisher {
  font-size: 0.68em;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
  text-transform: uppercase;
}

span.writing-description {
  font-size: 0.9em;
  margin-bottom: 6px;
}

.project-header {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

div.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 24px auto 12px auto;
  max-width: 475px;
}

span.project-name {
  font-size: 1.2em;
  font-weight: bold;
}

span.project-name a {
  text-decoration: none;
}

span.project-role {
  font-size: 0.68em;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
  text-transform: uppercase;
}

span.project-description {
  margin-bottom: 6px;
}

span.project-tech {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
}

div.tech {
  text-align: center;
  clear: both;
}

.tech-header {
  margin-top: 25px;
  margin-bottom: 15px;
}

div.tech div {
  text-align: center;
  margin-top: 7px;
}

div.tech span {
  margin-left: 5px;
}

/* Multi-purpose classes */

div.outline {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px 10px 10px 14px;
  vertical-align: baseline;
}

div.inline {
  display: inline-block;
}

.float {
  float: left;
}

.margin-left {
  margin-left: 15px;
}

.relative {
  position: relative;
}

div.fixed-width {
  width: 256px;
  margin: 0 auto;
}

div.superimpose span {
  position: absolute;
  width: 80px;
  text-align: right;
  top: 3px;
  right: 3px;
  font-size: 18px;
}

div.superimpose img {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
