html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid #CCC;
	margin: 10px 5px;
}

div.wrapper {
	min-height: 100%;
	position: relative;
}

div.content {
	width: 500px;
	padding-top: 6%;
	margin: 0px auto;
	color: #444;
}

div.introduction {
	font-size: 60px;
	padding-left: 9px;
}

div.name {
	font-family: 'raleway', sans-serif;
	font-weight: 400;
	font-size: 165px;
	color: #AAA;
}

div.details {
	font-size: 48px;
	padding-left: 12px;
}

span#flyup {
	position: relative;
	font-family: "Lucida Console", Monaco, monospace;
}

div.linkout {
	margin-top: 30px;
}

div.footer {
	width: 100%;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 11px;
	color: #888;
}


/* Multi-purpose classes */

span.capitalize {
	text-transform: uppercase;
}

div.outline {
	display: inline-block;
	padding: 0px 10px;
	border: 1px solid #CCC;
	border-radius: 10px;
}

div.inline {
	display: inline-block;
}

div.float {
	float: left;
}

div.margin-left {
	margin-left: 20px;
}

a.subtle {
	text-decoration: none;
	color: #444;
}
